@import url('https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans&display=swap');

:root {
    --accent-color: #155fd6;
    --main-color: black;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;
}
html{
    background-color: rgb(146, 146, 146);
}
body {
    max-width: 1200px;
    margin: auto;
    margin-top: -12px;
    background-color: white;
    position:relative;
	z-index:0;
}
header nav .logo a {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    text-align: left;
    color: var(--main-color);
    margin-top: 20px;
    margin-left: 30px;
}
header nav img{
    display: inline-block;
    position: absolute;
    margin-left: 90%;
}
#cart-badge{
    margin-top: 12px;
}
header nav .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}
header nav .menu a {
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid transparent;
    padding: 5px;
}

.personal_client
{
    margin-left: 450%;
    align-items: right;
}
.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}
.nav-link
{
    left: 80%;
    margin-top: 10px;
    position: absolute;
    padding-right: 0;
}
.btn {
    padding: 0.75rem 0.7rem;
}

header .banner {
    background-image: url(../img/main/b_anner.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -55px;
}
article.product{
    border: 1px solid white;
    margin: 10px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    position: relative;
    height: 92%;
}
article.product:hover{
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(71, 71, 71);
}
article.product img {
    display: block;
    width: 100%;
}
article.product .name_of_category{
    text-align: center;
    color: black;
}
article.product .name_of_product{
    text-align: center;
    color: black;
}

@media (min-width: 320px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 5px;
    }
    article.product img {
    display: block;
    width: 70%;
    margin: auto;
    }
    article.product .name_of_category{
    text-align: center;
    font-size: 2rem;
    color: black;
    }
}
@media (min-width: 1000px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1420px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.board
{
    background-color: #19253b;
    background-image:-webkit-linear-gradient(top, #19253b, #2f3337);
	background-image:-moz-linear-gradient(top, #19253b, #2f3337);
	background-image:linear-gradient(top, #19253b, #2f3337);
    position: relative;
    font-family: Century;
    font-size: 20px;
    color: white;
    height: 65px;
    margin-bottom: 20px;
    margin-top: -25px;
}
main{
    background-color: white;
    z-index: 1;
}
.filter{
    border-radius: 15px;
    width: 150px;
    height: 30px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}
.btn-primary {
    color: #fff;
    background-color: #19253b;
    border-color: #19253b;
}
.btn-info {
    color: #fff;
    background-color: rgb(34, 70, 189);
    border-color:  rgb(34, 70, 189);
}
main .board .catalog
{
    display: inline-block;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 8px;
    margin-left: 30px;
}
main .board .filter
{
    display: inline-block;
    margin-left: 67%;
    margin-top: -10px;
}

@media (max-width: 10000px)
{
    main .board .form-search
    {
        left: 64%;
    }
    main .board .filter
    {
        margin-left: 67%;
    }
}

@media (max-width: 1550px)
{
    main .board .form-search
    {
        left: 54%;
    }
    main .board .filter
    {
        margin-left: 62%;
    }
}

@media (max-width: 1000px)
{
    main .board .form-search
    {
        left: 52%;
    }
    main .board .filter
    {
        margin-left: 54%;
    }
}
@media (max-width: 800px)
{
    main .board .form-search
    {
        left: 45%;
    }
    main .board .filter
    {
        margin-left: 47%;
    }
}
@media (max-width: 730px)
{
    main .board .form-search
    {
        left: 42%;
    }
    main .board .filter
    {
        margin-left: 42%;
    }
}
@media (max-width: 650px)
{
    main .board .form-search
    {
        left: 33%;
    }
    main .board .filter
    {
        margin-left: 33%;
    }
}
@media (max-width: 580px)
{
    main .board .form-search
    {
        left: 31%;
    }
    main .board .filter
    {
        margin-left: 31%;
    }
}
@media (max-width: 480px)
{
    main .board .form-search
    {
        left: 18%;
    }
    main .board .filter
    {
        margin-left: 18%;
    }
}
@media (max-width: 440px)
{
    main .board .form-search
    {
        left: 9%;
    }
    main .board .filter
    {
        margin-left: 9%;
    }
}
@media (max-width: 380px)
{
    main .board .form-search
    {
        left: 6%;
    }
    main .board .filter
    {
        margin-left: 6%;
    }
}

#category_main
{
    margin-left: 5%;
    margin-bottom:20px;
    text-decoration: none;
}
#categories a{
    text-decoration: none;
}
.category
{
    border: 1px solid white;
    width: 30%;
    left: 10%;
    margin-left: 5%;
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.category:hover{
    border: 1px solid #19253b;
}

.bnt_buy{
    border-radius: 8px;
    height: 35px;
    background-color: #19253b;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    margin-left: 50px;
    margin-bottom: 15px;
}
@media (max-width: 1420px) {
        .bnt_buy {
        margin-left: 120px;
    }
}
@media (max-width: 1000px) {
        .bnt_buy {
        margin-left: 250px;
    }
}

/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------           BURGER MENU          --------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: -3px;
  left: 47.5%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 500px) {
    .menu__btn {
        left: 83%;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #020000;
transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  background-color: #020000;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  background-color: #020000;
}

.menu__box {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: -100%;
  align-items: center;
  width: 100%;
  height: 255px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 15px 12px;
  color: #333 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px;
  font-weight: 600px;
  text-decoration: none !important;
  margin-left: 20px;
  transition-duration: .25s;
}
.menu__logo{
    text-decoration: none !important;
    color: black !important;
    font-size: 2rem;
    padding: 5px;
    margin-left: 20px;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/*------------------------------------------------------------------------------------------------------*/
/*--------------------------------             FOOTER             --------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
footer{
	height: 630px;
	color:#ccc;
	font-size:12px;
	position: relative;
	z-index:-2;
	background-color: #19253b;
	background-image:-webkit-linear-gradient(top, #19253b, #2f3337);
	background-image:-moz-linear-gradient(top, #19253b, #2f3337);
	background-image:linear-gradient(top, #19253b, #2f3337);
}

/* Set a width to the outermost UL and center it */

footer > ul{
	width: 100%;
	position:fixed;
    margin: auto;
	bottom: 0;
	padding-bottom: 60px;
	z-index:-1;
}
@media (min-width: 1024px) {
    footer > ul {
        width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        left:47%;
        margin-left:-480px;
    }
    footer{
	height: 240px;
    }
}
@media (min-width: 750px) {
    footer > ult {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.board
/* The four columns of links */

footer > ul > li{
	width:25%;
	float:left;
}

footer ul{
	list-style: none;
}

/* The links */

footer > ul > li ul li{
	margin-left: -15px;
	text-transform: uppercase;
	font-weight:bold;
    font-family: 'Josefin Sans', sans-serif;
	line-height:1.8;
}

footer > ul > li ul li a{
	text-decoration: none !important;
	color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
	color:#ddd !important;
}

/* The company logo */

footer a.logo{
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	margin-left: 16px;
	display: inline-block;
	margin-top: 7px;
}

footer a.logo i{
	font-style: normal;
	position: absolute;
	width: 60px;
	display: block;
	left: 48px;
	top: 18px;
	font-size: 12px;
	color: #999;
}

footer a.logo:before{
	content: '';
	display: inline-block;
	background: url('../img/main/sprite.png') no-repeat -19px -70px;
	width: 48px;
	height: 37px;
	vertical-align: text-top;
}

/* Common styles for the four color bars */

footer p{
	width: 90%;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	background-color: #058cc7;
	font-weight: bold;
	font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
	color:rgb(0, 0, 0);
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	opacity:0.9;
	cursor:default;

	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

footer > ul > li:hover p{
	opacity:1;
}

footer p:before{
	content: '';
	display: inline-block;
	background: url('../img/main/sprite.png') no-repeat;
	width: 16px;
	height: 18px;
	margin: 0 12px 0 15px;
	vertical-align: text-bottom;
}

/*-------------------------
	The different colors
--------------------------*/

footer p.home{
	background-color: #747474;

	background-image:-webkit-linear-gradient(top, #747474, #ffffff);
	background-image:-moz-linear-gradient(top, #747474, #ffffff);
	background-image:linear-gradient(top,#747474,#ffffff);
}

footer p.home:before{
	background-position: 0 -110px;
}

footer p.services{
	background-color: #747474;

	background-image:-webkit-linear-gradient(top, #747474, #ffffff);
	background-image:-moz-linear-gradient(top, #747474, #ffffff);
	background-image:linear-gradient(top,#747474,#ffffff);
}

footer p.services:before{
	background-position: 0 -129px;
}

footer p.reachus{
	background-color: #747474;

	background-image:-webkit-linear-gradient(top, #747474, #ffffff);
	background-image:-moz-linear-gradient(top, #747474, #ffffff);
	background-image:linear-gradient(top,#747474,#ffffff);
}

footer p.reachus:before{
	background-position: 0 -89px;
}

footer p.clients{
	background-color: #747474;

	background-image:-webkit-linear-gradient(top, #747474, #ffffff);
	background-image:-moz-linear-gradient(top, #747474, #ffffff);
	background-image:linear-gradient(top,#747474,#ffffff);
}

footer p.clients:before{
	background-position: 0 -69px;
}