html
{
background-color:rgb(99, 98, 98) ;
}
body
{
background-color: white;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-top: -5px;
}
header
{
    background-color: #19253b;
    border-radius: 10px;
    font-family: Century;
    height: 60px;
}
.headername
{
    position: absolute;
    margin-left: 25px;
    margin-top: 11px;
    font-size: 25px;
    color: white;
}
a{
     text-decoration: none;
    background-color: transparent;
    color: white;
}
.menu
{
    position: fixed;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    left: 47.2%;
    margin-top: -30px;
    background-color: rgb(99, 98, 98);
    z-index: 1;
}
.spinner
{
    width: 100%;
    height: 400px;
    margin-top: -10px;
}
.board
{
    background-color: #19253b;
    font-family: Century;
    font-size: 20px;
    color: white;
    height: 60px;
    margin-bottom: 20px;
    margin-top: -25px;
}
.catalog
{
    display: inline-block;
    position: relative;
}
.filter
{
    margin-top: 5px;
}
#category_main
{
    margin-left: 5%;
    margin-bottom:20px;
}
.category
{
    border: 1px solid white;
    width: 30%;
    left: 10%;
    margin-left: 5%;
    margin: 0 10px 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}
.category:hover{
    border: 1px solid #19253b;
}
.photo
{
    width: auto;
}
.contact
{
    display: inline-block;
}
.clients
{
    margin-left: 60%;
}
.footer_contact
{
    font-size: 20px;
    color: white;
    margin-left: 45%;
    font-family: Century;
}
.img_contact
{
    display: inline-block;
    margin-left: 45%;
    margin-top: -20px;
}
.footer_clients
{
    font-size: 20px;
    color: white;
    font-family: Century;
    margin-top: -160px;
}
footer
{
    background-color: #19253b;
    font-family: Century;
    height: 200px;
}
/*------------------------------------------------------------------------------------------------------*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 33px;
  left: 48%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ffffff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: inline-block;
  position: fixed;
  visibility: hidden;
  top: 46px;
  left: -100%;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 18px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 15px 12px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}